* {
  margin: 0;
  padding: 0;
}

#contactForm {
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

#contactForm input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

#addContactButton,
#searchContactButton,
#deleteContactButton {
  height: 3rem;
  width: 10rem;
  font-weight: bold;
  color: whitesmoke;
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 10px;
}

#addContactButton {
  background-color: blue;
}

#addContactButton:hover {
  background-color: whitesmoke;
  color: black;
}

#searchContactButton {
  background-color: green;
}

#searchContactButton:hover {
  background-color: whitesmoke;
  color: black;
}

#deleteContactButton {
  background-color: orange;
}

#deleteContactButton:hover {
  background-color: whitesmoke;
  color: black;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-inline: auto;
  align-items: center;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #d6eeee;
}

#contactSearch {
  padding-top: 20px;
}
